body{

background-color: #EEE8AA;
font-family: sans-serif;
font-size: medium;
color: #228B22;

}

h1 {
font-size: 150%;
color: Maroon;
border-bottom: 1px solid black;
}

h2{
font-size: 120%;
color: #FF4500;
}

td,th{
border: #EEE8AA;
}

table {
border: none;
  caption-side: bottom;
border-collapse: collapse;
margin-left: 20px;
margin-right: 20px;
}

.comid {

margin: 40px 30px;
background: #F0F8FF; 
padding: 20px;
width: 480;
}

.disp{

border: solid black 1px;
width: 580px;
/* background: #D3D3D3;*/
margin: 40px 30px;
padding: 10px;
text-align: top ;
}

#discom {

background : #FFF5EE;
padding: 5px;
margin: 20px;
}

.hf{
font-style: italic ;
font-size: small;
}