
body{

background-color: #F5F5F5;
/*border-color: black;*/
/*border-width: 1px;*/
margin: 0px;

}



.header {
  /*  border-color: black;*/
  /*  border-width: 1px;*/
  /*  border-style: solid;*/
    background-color: #0000ff;
    //padding: 25px;

}

#strip {

background-color: yellow;
color: black;
width: 270px;
/*margin: 1px;*/
padding: 25px;
}

.content {

    border-color: red; 
    border-width: 1px;
  /*  background-color: red;*/
    
}

#result {

background-color: yellow;
float: right;
width: 688px;
height: 500px;
padding-top: 40px;
text-align: center;
}

#add { 
background-color: #0000ff;
color : yellow;
width : 280px;
height: 500px;
padding: 20px;
}
